@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Also untraceable</title>
    </head>
    <body>
        <div>
              This page is also untraceable.
        </div>
    </body>
</html>