@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Anonymous</title>
    </head>
    <body>
        <div>
          This view should not reveal any info on the underlying technology.    
        </div>
    </body>
</html>